version: '3'

services:
  api:
    image: localhost:5000/bridge/api:<version>
    container_name: cht-api
    networks:
      - cht-net
    ports:
      - "5200:5200"
    environment:
      - FOO

  sentinel:
    image: localhost:5000/bridge/sentinel:<version>
    container_name: cht-sentinel
    ports:
      - "5300:5300"
    networks:
      - cht-net
    environment:
      - FOO

networks:
  cht-net:
    name: cht-net
